In [1]:
# Analysis of DataSet : Hospitalized patients with heart failure

# pip install missingno
# To be installed if its not installed already

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import random
# import missingno as msno
from datetime import datetime

#to see plot directly  instead giving plt.show()
%matplotlib inline
%reload_ext autoreload 
%autoreload 2

In [3]:
# Creating DataFrame for Labs
df_Labs = pd.read_excel("Cardiac_Outcomes.xlsx", sheet_name = "Labs")

# Creating DataFrame for Demography
df_Demography = pd.read_excel("Cardiac_Outcomes.xlsx", sheet_name = "Demography")

# Creating Dataframe for Hospitalization_Discharge
df_HospitalDischarge = pd.read_excel("Cardiac_Outcomes.xlsx", sheet_name = "Hospitalization_Discharge")

# Creating Dataframe for CardiacComplications
df_CardiacComplication = pd.read_excel("Cardiac_Outcomes.xlsx", sheet_name = "CardiacComplications")

# Creating Dataframe for Responsivenes
df_Responsive = pd.read_excel("Cardiac_Outcomes.xlsx", sheet_name = "Responsivenes")

# Creating Dataframe for PatientHistory
df_PatientHistory = pd.read_excel("Cardiac_Outcomes.xlsx", sheet_name = "PatientHistory")

# Creating Dataframe for Patient_Precriptions
df_PatientPrecription = pd.read_excel("Cardiac_Outcomes.xlsx" ,sheet_name = "Patient_Precriptions")

## 65 Which Admission Ward has maximum number of visits scheduled

In [26]:
df_labs = pd.read_excel(r"C:\Users\Home\Downloads\Data files\Python Hackethon may 2024\Cardiac_Outcomes.xlsx",
                                         sheet_name = 'Labs')

In [4]:
# Find the maximum number of visits for each admission ward 
grpby_admission_ward = df_HospitalDischarge.groupby('admission_ward')
grpby_admission_ward['visit_times'].max()

admission_ward
Cardiology     5
GeneralWard    3
ICU            2
Others         2
Name: visit_times, dtype: int64

In [5]:
# specific to question
# Group the data by the 'admission_ward' column
grpby_admission_ward = df_HospitalDischarge.groupby('admission_ward')

# Find the maximum number of visits for each admission ward
# This will give you a Series where the index is the admission ward
# and the values are the maximum number of visits for each ward
max_visits_per_ward = grpby_admission_ward['visit_times'].max()

# Find the ward with the maximum visits
# This will return the index (admission ward) corresponding to the maximum value
ward_with_max_visits = max_visits_per_ward.idxmax()

# Display the admission ward with the maximum number of visits
print("Admission Ward with maximum visits:", ward_with_max_visits)

Admission Ward with maximum visits: Cardiology

## 66 Display total count of patients in each discharge_department based on gender

In [6]:
# Merge the hospital discharge data with the demography data
# This is typically done on a common column, such as 'patient_id' or 'inpatient_number'
df_HD_D_merge = df_HospitalDischarge.merge(df_Demography, how='inner', on='inpatient_number')

# Group the merged data by 'discharge_department' and 'gender'
# This creates a multi-index DataFrame
grouped_data = df_HD_D_merge.groupby(['discharge_department', 'gender'])

# Count the number of patients in each group
# 'inpatient_number' is used here to count the occurrences of each group
patient_count_by_department_gender = grouped_data['inpatient_number'].count()

# Display the result
print("Patient count by discharge department and gender:")
print(patient_count_by_department_gender)

Patient count by discharge department and gender:
discharge_department  gender
Cardiology            Female    993
                      Male      710
GeneralWard           Female    137
                      Male      104
ICU                   Female      5
                      Male        7
Others                Female     28
                      Male       24
Name: inpatient_number, dtype: int64

## 67 How many Unique patients were precribed each type of medication?

In [7]:
# Group the data by 'Drug_name'
grouped_by_drug = df_PatientPrecription.groupby(['Drug_name'])

# Get the number of unique patients in each group
# Assuming 'patient_id' identifies unique patients
unique_patients_per_drug = grouped_by_drug['inpatient_number'].nunique()

# Display the result
unique_patients_per_drug

Drug_name
Aspirin enteric-coated tablet                        958
Atorvastatin calcium tablet                          822
Benazepril hydrochloride tablet                      434
Clopidogrel Hydrogen Sulphate tablet                 401
Deslanoside injection                               1017
Digoxin tablet                                       999
Dobutamine hydrochloride injection                    22
Enoxaparin Sodium injection                          113
Furosemide injection                                1720
Furosemide tablet                                   1641
Heparin Sodium injection                             153
Hydrochlorothiazide tablet                           283
Isoprenaline Hydrochloride injection                  30
Isosorbide Mononitrate Sustained Release tablet      326
Meglumine Adenosine Cyclophosphate for injection    1115
Metoprolol Succinate Sustained-release tablet        523
Milrinone injection                                  709
Nitroglycerin injection                              203
Shenfu injection                                     338
Spironolactone tablet                               1833
Torasemide tablet                                    252
Valsartan Dispersible tablet                         348
metoprolol tartrate injection                        307
sulfotanshinone sodium injection                     570
warfarin sodium tablet                               253
Name: inpatient_number, dtype: int64

## 68 Find 5 patients with the highest Discharge days greater than 20. List their most common outcome

In [8]:


 # Filter rows where 'dischargeDay' is greater than 20
df_disc = df_HospitalDischarge[df_HospitalDischarge['dischargeDay'] > 20]

# Sort the filtered rows by 'dischargeDay' in descending order
df_disc = df_disc.sort_values(by='dischargeDay', ascending=False)

# Select specific columns for a more focused view of the data
df_top_desc = df_disc.filter(items=['inpatient_number', 'dischargeDay', 'outcome_during_hospitalization'])

# Display the first 5 rows of the resulting DataFrame
df_top_desc_head = df_top_desc.head(5)  # Extract the first 5 rows
print("Top 5 discharges with 'dischargeDay' > 20:")
df_top_desc_head

Top 5 discharges with 'dischargeDay' > 20:

      inpatient_number  dischargeDay outcome_during_hospitalization
884             794077           123                          Alive
1613            768711           118                          Alive
1548            791880            88                          Alive
1573            794784            82                          Alive
1513            757711            76                          Alive

## 69 Get the list of patient ID's which are not there in prescriptions but in demographics

In [11]:


# Perform a left join on 'inpatient_number' to retain all patients from Demography
# The 'left' join means we keep all records from df_Demography and add any matching records from df_PatientPrecription
df_left_join = df_Demography.merge(df_PatientPrecription, how='left', on='inpatient_number')

# Find rows where the 'Drug_name' is NaN (null), indicating no matching record in the Prescriptions DataFrame
missing_in_prescriptions = df_left_join[df_left_join['Drug_name'].isnull()]

# Display the resulting DataFrame to see which patients are missing in the prescriptions
print("Patients in Demography but not in Prescriptions:")
missing_in_prescriptions

Patients in Demography but not in Prescriptions:

,inpatient_number,gender,weight,height,BMI,occupation,ageCat,Drug_name
11160,789308,Male,55.0,1.65,20.20202,UrbanResident,69-79,NaN

In [12]:
# prcise solution to question
missing_in_prescriptions['inpatient_number']

11160    789308
Name: inpatient_number, dtype: int64

## 70 On average, what is the most frequent weekday of admission?

In [13]:


# Extract the weekday names
df_HospitalDischarge ['weekday'] = df_HospitalDischarge['Admission_date'].dt.day_name()

# Count the occurrences of each weekday
weekday_counts = df_HospitalDischarge['weekday'].value_counts()

weekday_counts.head(1)

weekday
Monday    308
Name: count, dtype: int64

## 71 Which year had the maximum admissions

In [14]:
# Extract the year 
df_HospitalDischarge ['Year'] = df_HospitalDischarge ['Admission_date'].dt.year
df_HospitalDischarge['Year']

# Count the occurrences of each weekday
Year_counts = df_HospitalDischarge['Year'].value_counts()

Year_counts.head(1)

Year
2016    518
Name: count, dtype: int64

## 72 What % of the dataset is male vs female?

In [15]:
# Step 1: Calculate the total count of patients genderwise
gender_counts = df_Demography['gender'].value_counts()
# Step 2: Calculate the total count of rows in the dataset
total_count = len(df_Demography['gender'])
# total_count = len(df_demo)
# Step 3: Calculate the percentage for each gender
gender_percentage = (gender_counts / total_count) * 100
print("Percentage of each gender:")
gender_percentage

Percentage of each gender:

gender
Female    57.918327
Male      42.081673
Name: count, dtype: float64

## 73 Which patient in the youngest age category weighs the most?

In [16]:
# Step 1: Find the minimum of the 'ageCat' column (youngest age category)
youngest_age = df_Demography['ageCat'].min()

# Step 2: Filter the DataFrame to get rows with the youngest age category
youngest_patients = df_Demography[df_Demography['ageCat'] == youngest_age]

# Step 3: Find the patient with the maximum 'weight' within the youngest age category
max_weight_patient = youngest_patients.loc[youngest_patients['weight'].idxmax()]

# Output the results
print("The patient in the youngest age category who weighs the most is:")
print(max_weight_patient[['inpatient_number', 'weight', 'ageCat']])

The patient in the youngest age category who weighs the most is:
inpatient_number    831184
weight                82.5
ageCat               21-29
Name: 1092, dtype: object

## 74 Which adm ward had the lowest rate of Outcome Death?

In [17]:
# all details details 
outcome_by_admission_ward = df_HospitalDischarge.groupby(['admission_ward','outcome_during_hospitalization']).count()
outcome_by_admission_ward

                                               inpatient_number  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                       1472
               Dead                                           8
               DischargeAgainstOrder                         67
GeneralWard    Alive                                        238
               Dead                                           1
               DischargeAgainstOrder                         26
ICU            Alive                                         12
               Dead                                           1
               DischargeAgainstOrder                          2
Others         Alive                                        168
               Dead                                           1
               DischargeAgainstOrder                         12

                                               DestinationDischarge  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                           1472
               Dead                                               8
               DischargeAgainstOrder                             67
GeneralWard    Alive                                            238
               Dead                                               1
               DischargeAgainstOrder                             26
ICU            Alive                                             12
               Dead                                               1
               DischargeAgainstOrder                              2
Others         Alive                                            168
               Dead                                               1
               DischargeAgainstOrder                             12

                                               admission_way  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                    1472
               Dead                                        8
               DischargeAgainstOrder                      67
GeneralWard    Alive                                     238
               Dead                                        1
               DischargeAgainstOrder                      26
ICU            Alive                                      12
               Dead                                        1
               DischargeAgainstOrder                       2
Others         Alive                                     168
               Dead                                        1
               DischargeAgainstOrder                      12

                                               discharge_department  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                           1472
               Dead                                               8
               DischargeAgainstOrder                             67
GeneralWard    Alive                                            238
               Dead                                               1
               DischargeAgainstOrder                             26
ICU            Alive                                             12
               Dead                                               1
               DischargeAgainstOrder                              2
Others         Alive                                            168
               Dead                                               1
               DischargeAgainstOrder                             12

                                               visit_times  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                  1472
               Dead                                      8
               DischargeAgainstOrder                    67
GeneralWard    Alive                                   238
               Dead                                      1
               DischargeAgainstOrder                    26
ICU            Alive                                    12
               Dead                                      1
               DischargeAgainstOrder                     2
Others         Alive                                   168
               Dead                                      1
               DischargeAgainstOrder                    12

                                               respiratory_support  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                            14
               Dead                                              3
               DischargeAgainstOrder                             4
GeneralWard    Alive                                             9
               Dead                                              0
               DischargeAgainstOrder                             5
ICU            Alive                                             3
               Dead                                              0
               DischargeAgainstOrder                             1
Others         Alive                                             2
               Dead                                              1
               DischargeAgainstOrder                             0

                                               oxygen_inhalation  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                        1472
               Dead                                            8
               DischargeAgainstOrder                          67
GeneralWard    Alive                                         238
               Dead                                            1
               DischargeAgainstOrder                          26
ICU            Alive                                          12
               Dead                                            1
               DischargeAgainstOrder                           2
Others         Alive                                         168
               Dead                                            1
               DischargeAgainstOrder                          12

                                               dischargeDay  Admission_date  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                   1472            1472
               Dead                                       8               8
               DischargeAgainstOrder                     67              67
GeneralWard    Alive                                    238             238
               Dead                                       1               1
               DischargeAgainstOrder                     26              26
ICU            Alive                                     12              12
               Dead                                       1               1
               DischargeAgainstOrder                      2               2
Others         Alive                                    168             168
               Dead                                       1               1
               DischargeAgainstOrder                     12              12

                                               death_within_28_days  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                           1472
               Dead                                               8
               DischargeAgainstOrder                             67
GeneralWard    Alive                                            238
               Dead                                               1
               DischargeAgainstOrder                             26
ICU            Alive                                             12
               Dead                                               1
               DischargeAgainstOrder                              2
Others         Alive                                            168
               Dead                                               1
               DischargeAgainstOrder                             12

                                               re_admission_within_28_days  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                                  1472
               Dead                                                      8
               DischargeAgainstOrder                                    67
GeneralWard    Alive                                                   238
               Dead                                                      1
               DischargeAgainstOrder                                    26
ICU            Alive                                                    12
               Dead                                                      1
               DischargeAgainstOrder                                     2
Others         Alive                                                   168
               Dead                                                      1
               DischargeAgainstOrder                                    12

                                               death_within_3_months  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                            1472
               Dead                                                8
               DischargeAgainstOrder                              67
GeneralWard    Alive                                             238
               Dead                                                1
               DischargeAgainstOrder                              26
ICU            Alive                                              12
               Dead                                                1
               DischargeAgainstOrder                               2
Others         Alive                                             168
               Dead                                                1
               DischargeAgainstOrder                              12

                                               re_admission_within_3_months  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                                   1472
               Dead                                                       8
               DischargeAgainstOrder                                     67
GeneralWard    Alive                                                    238
               Dead                                                       1
               DischargeAgainstOrder                                     26
ICU            Alive                                                     12
               Dead                                                       1
               DischargeAgainstOrder                                      2
Others         Alive                                                    168
               Dead                                                       1
               DischargeAgainstOrder                                     12

                                               death_within_6_months  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                            1472
               Dead                                                8
               DischargeAgainstOrder                              67
GeneralWard    Alive                                             238
               Dead                                                1
               DischargeAgainstOrder                              26
ICU            Alive                                              12
               Dead                                                1
               DischargeAgainstOrder                               2
Others         Alive                                             168
               Dead                                                1
               DischargeAgainstOrder                              12

                                               re_admission_within_6_months  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                                   1472
               Dead                                                       8
               DischargeAgainstOrder                                     67
GeneralWard    Alive                                                    238
               Dead                                                       1
               DischargeAgainstOrder                                     26
ICU            Alive                                                     12
               Dead                                                       1
               DischargeAgainstOrder                                      2
Others         Alive                                                    168
               Dead                                                       1
               DischargeAgainstOrder                                     12

                                               time_of_death__days_from_admission  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                                            9
               Dead                                                             8
               DischargeAgainstOrder                                           11
GeneralWard    Alive                                                            2
               Dead                                                             1
               DischargeAgainstOrder                                            5
ICU            Alive                                                            1
               Dead                                                             1
               DischargeAgainstOrder                                            0
Others         Alive                                                            1
               Dead                                                             1
               DischargeAgainstOrder                                            4

                                               readmission_time_days_from_admission  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                                            696
               Dead                                                               0
               DischargeAgainstOrder                                             23
GeneralWard    Alive                                                            106
               Dead                                                               0
               DischargeAgainstOrder                                              9
ICU            Alive                                                              4
               Dead                                                               0
               DischargeAgainstOrder                                              0
Others         Alive                                                             60
               Dead                                                               0
               DischargeAgainstOrder                                              3

                                               return_to_emergency_department_within_6_months  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                                                     1472
               Dead                                                                         8
               DischargeAgainstOrder                                                       67
GeneralWard    Alive                                                                      238
               Dead                                                                         1
               DischargeAgainstOrder                                                       26
ICU            Alive                                                                       12
               Dead                                                                         1
               DischargeAgainstOrder                                                        2
Others         Alive                                                                      167
               Dead                                                                         1
               DischargeAgainstOrder                                                       12

                                               time_to_emergency_department_within_6_months  \
admission_ward outcome_during_hospitalization
Cardiology     Alive                                                                    692
               Dead                                                                       1
               DischargeAgainstOrder                                                     23
GeneralWard    Alive                                                                    106
               Dead                                                                       0
               DischargeAgainstOrder                                                      9
ICU            Alive                                                                      4
               Dead                                                                       0
               DischargeAgainstOrder                                                      0
Others         Alive                                                                     59
               Dead                                                                       0
               DischargeAgainstOrder                                                      3

                                               weekday  Year
admission_ward outcome_during_hospitalization
Cardiology     Alive                              1472  1472
               Dead                                  8     8
               DischargeAgainstOrder                67    67
GeneralWard    Alive                               238   238
               Dead                                  1     1
               DischargeAgainstOrder                26    26
ICU            Alive                                12    12
               Dead                                  1     1
               DischargeAgainstOrder                 2     2
Others         Alive                               168   168
               Dead                                  1     1
               DischargeAgainstOrder                12    12

In [18]:
# Exact solution
# Group by 'admission_ward' and 'outcome_during_hospitalization', then count the number of inpatients
outcome_by_admission_ward = df_HospitalDischarge.groupby(['admission_ward', 'outcome_during_hospitalization']).count()

# Filter for the outcome "Deceased"
death_counts = outcome_by_admission_ward.loc[outcome_by_admission_ward.index.get_level_values('outcome_during_hospitalization') == 'Dead']

# Find the minimum count of "Deceased"
min_death_count = death_counts['inpatient_number'].min()

# Identify the admission ward with the lowest rate of death
ward_with_lowest_death_rate = death_counts.loc[death_counts['inpatient_number'] == min_death_count]
ward_with_lowest_death_rate
# to see just admission wards remove 'outcome_during_hospitalization	','inpatient_number' from items list
wards_lowest_daeth =  ward_with_lowest_death_rate.filter(items = ['inpatient_number','outcome_during_hospitalization	','inpatient_number'])
wards_lowest_daeth

                                               inpatient_number
admission_ward outcome_during_hospitalization
GeneralWard    Dead                                           1
ICU            Dead                                           1
Others         Dead                                           1

## 75 What % of those with an outcome of death, had myocardial infarction

In [19]:
# Merge HospitalDischarge with CardiacComplication DataFrame
merge_HD_CC = df_HospitalDischarge.merge(df_CardiacComplication)

# Filter for rows where the outcome during hospitalization is 'Dead'
death_outcome = merge_HD_CC[merge_HD_CC['outcome_during_hospitalization'] == 'Dead']

# Reset the index for the filtered DataFrame to start from 0
df_reset = death_outcome.reset_index(drop=True)

# Find the subset of patients in 'death_outcome' where they had a myocardial infarction
myocardial_infarction = death_outcome[death_outcome['myocardial_infarction'] == 1]

# Count the number of unique inpatient numbers for patients who died and had a myocardial infarction
myocardial_infarction_dead_count = myocardial_infarction['inpatient_number'].value_counts()

# Count the total number of patients with a 'Dead' outcome in the 'death_outcome' DataFrame
death_outcome_count = death_outcome['myocardial_infarction'].count()

# Calculate the percentage of patients with an outcome of death who also had a myocardial infarction
percentage_mi_dead_over_dead_outcome = (myocardial_infarction_dead_count * 100) / death_outcome_count

# Display the calculated percentage
print("Percentage of patients with outcome of death who had myocardial infarction:")
percentage_mi_dead_over_dead_outcome

Percentage of patients with outcome of death who had myocardial infarction:

inpatient_number
828678    9.090909
Name: count, dtype: float64

## 76 What is the ratio of those with congestive heart failure to those who had type of heart failure Both?

In [20]:

# Calculate the count of rows where congestive heart failure is indicated
count_congestive_heart_failure = (df_CardiacComplication['congestive_heart_failure'] == 1).sum()

# Calculate the count of rows where the type of heart failure is 'Both'
count_heart_failure_Both = (df_CardiacComplication['type_of_heart_failure'] == 'Both').sum()

# Calculate the ratio of congestive heart failure cases to those with 'Both' heart failure types
if count_heart_failure_Both > 0:
    ratio = count_congestive_heart_failure / count_heart_failure_Both
else:
    ratio = None  # Avoid division by zero if no 'Both' heart failure type exists

print("Ratio of congestive heart failure to 'Both' heart failure types:", ratio)

Ratio of congestive heart failure to 'Both' heart failure types: 1.2648648648648648

In [21]:
# Alternate solution
# Use filter() to create a filtered list of records where congestive heart failure is 1
congestive_heart_failure_cases = list(filter(lambda row: row['congestive_heart_failure'] == 1, df_CardiacComplication.to_dict('records')))

# Use filter() to create a filtered list of records where type of heart failure is 'Both'
heart_failure_Both_cases = list(filter(lambda row: row['type_of_heart_failure'] == 'Both', df_CardiacComplication.to_dict('records')))

# Count the number of cases for each
count_congestive_heart_failure = len(congestive_heart_failure_cases)
count_heart_failure_Both = len(heart_failure_Both_cases)

# Calculate the ratio
ratio = count_congestive_heart_failure / count_heart_failure_Both if count_heart_failure_Both > 0 else None

print("Ratio of congestive heart failure to 'Both' heart failure types:", ratio)

Ratio of congestive heart failure to 'Both' heart failure types: 1.2648648648648648

## 77 List the number of cardiogenic shock patients based on hospitalization outcome, having a severe GCS score(higher risk of death)

In [22]:
# GCS score(higher risk of death) score from 1 to 8 is considered as bad score (higher risk of death)
# cerebrovascular_disease = 1 CONSIDERING AS cardiogenic shock patients
# Step 1: Filter patients with a high-risk GCS score (<= 8)
patient_with_risky_GCS_score = df_Responsive[df_Responsive['GCS'] <= 8]

# Step 2: Identify cardiogenic shock patients by selecting those with cerebrovascular disease
cardiogenic_shock_patients = df_PatientHistory[df_PatientHistory['cerebrovascular_disease'] == 1]

# Step 3: Extract the hospitalization outcome data with inpatient number and outcome
hospitalization_outcome_patient = df_HospitalDischarge.filter(items=['inpatient_number', 'outcome_during_hospitalization'])

# Step 4: Merge hospitalization outcome data with high-risk GCS patients
df_1 = hospitalization_outcome_patient.merge(patient_with_risky_GCS_score, on='inpatient_number')

# Step 5: Merge the result with cardiogenic shock patients
merged_df = df_1.merge(cardiogenic_shock_patients, on='inpatient_number')

# Step 6: Filter the merged data to only the required columns for analysis
result = merged_df.filter(items=['inpatient_number', 'cerebrovascular_disease', 'outcome_during_hospitalization', 'GCS'])

# Display the result to view the relevant data
result

,inpatient_number,cerebrovascular_disease,outcome_during_hospitalization,GCS
0,790433,1,DischargeAgainstOrder,3
1,834443,1,Dead,3
2,730841,1,DischargeAgainstOrder,3

## 78 Give the count of patients who have experinced tachicardia or bradycardia.

In [23]:
# Tachycardia (tak-ih-KAHR-dee-uh) is a fast heartbeat. The heart rate is greater than 100 beats a minute.
#Bradycardia (brad-e-KAHR-dee-uh) is a slow heartbeat. #The heart rate is less than 60 beats a minute.
# Your pulse rate, also known as your heart rate, is the number of times your heart beats per minute.

In [47]:
# Define conditions for tachycardia and bradycardia
condition_tachycardia = df_labs['pulse'] > 100  # Tachycardia condition
condition_bradycardia = df_labs['pulse'] < 60  # Bradycardia condition

# Combine the conditions using bitwise OR ('|')
condition_tachycardia_bradycardia = condition_tachycardia | condition_bradycardia

# Filter the DataFrame to get patients with tachycardia or bradycardia
tachycardia_bradycardia_patients = df_labs[condition_tachycardia_bradycardia]

# Get the count of these patients
count_patients_with_both_conditions = tachycardia_bradycardia_patients['inpatient_number'].count()
print('count of patients who have experinced tachicardia or bradycardia :')
count_patients_with_both_conditions

count of patients who have experinced tachicardia or bradycardia :

571

## 79 Create a Funnel chart of BMI Category(Normal Weight, Underweight and Obese)

In [ ]:
!pip install plotly  
import plotly.express as px
# as per question but additional overweight
# Define a function to categorize BMI
def categorize_bmi(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif 18.5 <= bmi < 25:
        return 'Normal Weight'
    elif 25 <= bmi < 30:
        return 'Overweight'
    else:
        return 'Obese'

# Apply the categorization function to create a new column 'BMI_category'
df_Demography['BMI_category'] = df_Demography['BMI'].apply(categorize_bmi)

# Get the count of each BMI category
bmi_counts = df_Demography['BMI_category'].value_counts().reset_index()
bmi_counts.columns = ['Category', 'Count']

# Create a funnel chart using Plotly Express
fig = px.funnel(
    bmi_counts,
    x='Count',
    y='Category',
    title='BMI Funnel Chart',
    labels={'Count': 'Number of Patients', 'Category': 'BMI Category'},
)

fig.show()

In [ ]:
# exactly as in question
# Define a function to categorize BMI
def categorize_bmi(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif 18.5 <= bmi < 25:
        return 'Normal Weight'
    
    else:
        return 'Obese'

# Apply the categorization function to create a new column 'BMI_category'
df_Demography['BMI_category'] = df_Demography['BMI'].apply(categorize_bmi)

# Get the count of each BMI category
bmi_counts = df_Demography['BMI_category'].value_counts().reset_index()
bmi_counts.columns = ['Category', 'Count']

# Create a funnel chart using Plotly Express
fig = px.funnel(
    bmi_counts,
    x='Count',
    y='Category',
    title='BMI Funnel Chart',
    labels={'Count': 'Number of Patients', 'Category': 'BMI Category'},
)

fig.show()

## 80 Delete the column age from Q26 iteratively.

In [ ]:
#  to drop the 'age' column if it exists in df_demo_dupli
for i in range(5):  # This loop represents iterative operations
    if 'age' in df_demo_dupli.columns:
        df_demo_dupli = df_demo_dupli.drop(columns=['age'])

## 26 Create a column that randomly generates an age between the age group given for each patient. What was the average age of the patients?

In [ ]:
import random
import numpy as np

In [ ]:
df_demo_dupli = pd.read_excel(r"C:\Users\Home\Downloads\Data files\Python Hackethon may 2024\Cardiac_Outcomes.xlsx",
                                         sheet_name = 'Demography')

In [ ]:
import random
import numpy as np
# Function to generate a random age within a given age range
def generate_random_age(age_range):
    # Split the ageCat string to get the minimum and maximum ages
    age_min, age_max = map(int, age_range.split('-'))
    # Return a random integer between the min and max ages, inclusive
    return np.random.randint(age_min, age_max + 1)
#  use 'assign' to add a new column
df_demo_dupli_age = df_demo_dupli.assign(age=df_demo_dupli['ageCat'].apply(generate_random_age))
df_demo_dupli_age
average_age = round(df_demo_dupli_age['age'].mean())
print('Average age: ',average_age)

In [ ]:
df_demo_dupli_age